.box_small { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box_big { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 100%; */
    border-radius: 24px;
    padding: 24px;
    margin: 16px;
    background-color: #1C1C21;
    box-sizing: border-box;
    
}

.pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.image {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    float: left;
    position: relative;
}