/* .container {
    margin: 0;
       
} */

.title {
    text-align: left;
    
}

.tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingredients {
    max-height: 550px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #2F2F37 #8585AD;
}